.product-card {
    max-width: 250px;
  }
  
  mat-card:hover{
    transform: scale(1.05);
    cursor: pointer;
  }

  mat-card{
    transition: transform .5s;
  }

  .sortDropDown{
    margin-left: 20px;
  }