
<div class="container-sm">
    <h2>Cart Items</h2>
    <mat-card>
        <mat-list>
            <mat-list-item *ngFor="let cartItem of cartItems">
                <span matListItemTitle>{{cartItem.name}}</span>
                <span matListItemLine>{{cartItem.price | currency:'USD'}}</span>
            </mat-list-item>
            <mat-list-item>
                <span matListItemTitle class="price">Total (USD)</span>
                <span matListItemLine class="price">{{totalPrice | currency:'USD'}}</span>
            </mat-list-item>
            <mat-list-item class="text-right">
                <button mat-flat-button (click)="clearCartItems()">Clear</button>
            </mat-list-item>
            <mat-list-item class="text-right">
                <button mat-raised-button color="accent" (click)="checkout()">Checkout</button>
            </mat-list-item>
        </mat-list>
    </mat-card>
</div>


